version: "3.6"

networks:
  default:
    name: universal-resolver

services:
  nginx-proxy:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./.htpasswd:/etc/nginx/.htpasswd:ro
      - ./certbot/www:/var/www/certbot/:ro
    depends_on:
      - uni-resolver-web
  #     - certbot
  # certbot:
  #   image: certbot/certbot:latest
  #   volumes:
  #     - ./certbot/www/:/var/www/certbot/:rw
  uni-resolver-web:
    image: universalresolver/uni-resolver-web:latest
    expose:
      - "8080:8080"
  uni-resolver-driver-did-uport:
    image: uport/uni-resolver-driver-did-uport:4.1.0
  driver-didkit:
    image: ghcr.io/spruceid/didkit-http:latest
    environment:
      PORT: 3000
      HOST: 0.0.0.0
  driver-did-ion:
    image: identityfoundation/driver-did-ion:v0.8.1
  driver-did-sol:
    image: identitydotcom/driver-did-sol:3.3.0
  alastria-did-driver-mvp2:
    image: alastria/uni-resolver-driver-did-alastria:mvp2
  did-jwk-driver:
    image: transmute/restricted-resolver:latest
  driver-did-polygonid:
    image: polygonid/driver-did-polygonid:latest
  driver-did-hedera:
    image: meeco/uni-resolver-driver-did-hedera:latest
